src/__pycache__
/documentView.egg-info
src/infrastructure/__pycache__
src/domain/__pycache__
src/interface/__pycache__

data/corpus/Resume_Donald-MOUAFO.json
data/corpus/requirements.json
data/corpus/2026_03_mouafo_notemgnou_louis_donald_2026_04_05T00_02_56corpus.json
data/corpus/Devis_Cardif_Assurance_1corpus.json
data/corpus/doc_test.txt
data/corpus/testcorpus.json
data/embedings/
data/indexes/
src/interface/api.py
src/interface/app_test.py
src/interface/llm.py
src/interface/main.py
src/interface/rag_fast_api.py
src/interface/retrieval.py
data/corpus/ENTRETIEN INDIVIDUELcorpus.json
data/corpus/household_power_consumptioncorpus.json

# Docker
Dockerfile_v1
